@media (max-width: 1366px) {
  .header {
    top: 5px;
  }
  .top__title {
    font-size: 50px;
    line-height: 76px;
    margin-top: 80px;
    margin-bottom: 25px;
  }
  .top__inner-img {
    width: 320px;
    display: flex;
    margin: 0;
  }

  .top__text {
    margin: 25px 0 25px;
    max-width: 360px;
    font-size: 18px;
  }
  .title {
    padding-top: 80px;
  }

  .about__slider-text {
    left: -330px;

  }
  .about__slider-box {
    top: -80px;
  }

  .services__item-title {
    font-size: 15px;
    line-height: 50px;
  }

  .reviews__item-title {
    font-size: 18px;
    line-height: 24px;
    padding: 14px 10px 14px 24px;

    &:after {
      width: 56px;
      height: 56px;
      right: -62px;
    }
  }
  .contacts__social-item {
    margin-top: 10px;
  }
  .footer {

  }

}


@media (max-width: 1200px) {
  .menu {
    order: 1;
  }
  .menu__list {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .8);
    z-index: -1;
    display: flex;
    padding-top: 90px;
    padding-left: 20px;
    flex-direction: column;
    justify-content: space-around;
    transform: translateY(-100%);
    transition: transform .5s;

    &--active {
      transform: translateY(0);
    }
  }

  .menu__list-item + .menu__list-item {
    padding-left: 0;
  }

  .menu__list-item {
    padding-bottom: 20px;

    &:first-child {
      margin-top: auto;
    }
  }

  .menu__list-phone,
  .menu__list-link {
    display: block;
  }

  .menu__list-phone {
    margin-top: auto;
    margin-bottom: auto;
    padding-bottom: 20px;
  }

  .menu__btn {
    display: block;
    background: transparent;
    border: none;
    outline: none;
    padding: 0;
    cursor: pointer;
  }

  .menu__btn::before,
  .menu__btn::after {
    content: '';
    width: 30px;
    height: 2px;
    display: block;
    margin: 8px 0;
    background: #ffffff;
    transition: all .7s;
  }

  .menu__btn.menu__btn--active {
    .menu__btn-line {
      opacity: 0;
      transition: all .7s;
    }

    &::after {
      transform: translateY(-10px) rotate(-135deg);
    }

    &::before {
      transform: translateY(10px) rotate(135deg);
    }
  }

  .menu__btn-line {
    display: block;
    width: 30px;
    height: 2px;
    background: #ffffff;
    transition: all .7s;

  }

  .header__phone {
    display: none;
  }

  .header__btn {
    margin-right: 0;
  }
  .about__slider-box {
    padding-right: 15px;
  }

  .benefits__item {
    margin-bottom: 50px;
  }

  .benefits__item:nth-child(even) {
    margin: 0;
    transform: translateY(-70px);
  }

  .benefits__item-1 {
    &::before {
      display: none;
    }
  }

  .benefits__item-3 {
    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
  .benefits__info {
    width: 220px;
  }


}

@media (max-width: 1100px) {
  .about__text {
    padding-right: 10px;
  }
  .about__slider-text {
    font-size: 18px;
    bottom: 10px;
  }

}


@media (max-width: 700px) {

  .top__title {
    font-size: 36px;
    line-height: 40px;
    margin-top: 140px;

  }

  .top__social-item {
    margin: 0 10px;
  }


}

@media (max-width: 540px) {
  .top__inner-img {
    width: 350px;
  }

}


@media (max-width: 400px) {

  .top__title {
    font-size: 26px;
    line-height: 30px;
    margin-top: 110px;
  }

  .top__inner-img {
    width: 250px;
  }

  .top__text {
    margin: 10px 0 12px;
    max-width: 300px;
    font-size: 14px;
  }

  .header__btn {
    padding: 4px 10px;
    font-size: 12px;
    line-height: 14px;

  }


}
