@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 10;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 30px;
    text-transform: uppercase;
    @extend %comfb
  }

  .logo {
    &:hover {
      color: #000000;
    }

  }

  &__btn {
    color: #fff;
    background-color: transparent;
    padding: 6px 28px;
    border: 1px solid #ffffff;
    border-radius: 8px;
    margin-right: 8px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .5s;

    &:hover {
      color: #000;
      background: #ffffff;
    }
  }

  &__phone {
    @extend %comfb
  }
}

.menu {
  &__list-item {
    display: inline-block;

    & + .menu__list-item {
      padding-left: 20px;
      @extend %comfb
    }
  }

  &__list-link:hover {
    text-decoration: overline underline;
  }
}

.top {
  background-image: url("../images/bg-2.jpg");

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(45.97% 54.43% at 50% 45.57%, rgba(23, 26, 28, 0) 50.28%, rgba(23, 26, 28, 0.00225974) 50.29%, rgba(4, 5, 5, 0.820343) 58.72%, rgba(5, 5, 6, 0.792703) 80.08%, #000000 87.89%);
    opacity: 0.1;
  }

  &__wrapper {
    display: flex;
    align-items: flex-start;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  &__title {
    font-size: 80px;
    line-height: 96px;
    @extend %comfb;
    margin-top: 140px;
  }

  &__inner-img {
    margin: 20px 0;
  }

  &__text {
    font-size: 24px;
    max-width: 500px;
    margin: 25px 0;
  }

  &__social-item {
    display: inline-block;
    margin: 0 50px;
  }

  &__social-item--img {
    width: 40px;
    height: 40px;
  }

  &__social-link {
    opacity: .6;
    transition: all .5s;

    &:hover {
      opacity: 1;
    }
  }
}


@import "media";
